@import "@/app/constants.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  .grid {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    .cat {
      cursor: pointer;
      transition: 200ms ease;
      position: relative;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        transform: scale(0.95);
      }
      &.selected {
        .cat__image {
          border: 5px solid $secondaryColor;
        }
        .cat__name {
          color: $secondaryColor;
        }
      }
      .cat__image {
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        border: 5px solid transparent;
        z-index: 1;
        position: relative;
        .cat__vote__mask {
          position: absolute;
          z-index: 2;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          background-color: change-color($color: $secondaryColor, $alpha: 0.8);
          .cat__vote__value {
            font-size: 1.1rem;
            font-weight: 700;
            margin: 10px 0;
          }
        }
      }
      .cat__name {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 10px 0;
        text-align: center;
      }
    }
  }
}
